# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.ait'
'name': 'Ait'
'fileTypes': [
  'ait'
]
'patterns': [
  {
    'match': '^#.*$'
    'name': 'comment.ait'
  }
  {
    'captures':
      '1':
        'name': 'keyword.load.ait'
      '2':
        'name': 'constant.path.ait'
      '3':
        'name': 'keyword.semicolon.ait'
    'match': '^(@.+)\\s(.+)(;)$'
  }
  {
    'captures':
      '1':
        'name': 'constant.definition.ait'
      '2':
        'name': 'keyword.colon.ait'
    'match': '^(.*)(:)\\s'
    'name': 'definition.word.ait'
  }
  {
    'match': '[;\\[\\]()]'
    'name': 'keyword.ait'
  }
  {
    'captures':
      '1':
        'name': 'entity.number.ait'
    'match': '(-?\\d+(\\.\\d+)?)(?![\\w<>+-=*%])'
  }
  {
    'match': '[a-zA-Z0-9<>+-=\\\\*%]+'
    'name': 'entity.word.ait'
  }
  {
    'match': '(".*")'
    'name': 'constant.ait'
  }
]
